logs
*.log
yarn-debug.log*
yarn-error.log*

node_modules/

commitlint.config.js
tailwind.config.js
postcss.config.js
next.config.js

.eslintcache

.yarn-integrity

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

dist/
docker-compose.yml