logs
*.log
yarn-debug.log*
yarn-error.log*

node_modules/

commitlint.config.cjs
tailwind.config.cjs
postcss.config.cjs
next.config.mjs

.eslintcache

.yarn-integrity

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

packages/**/dist
packages/**/node_modules
docker-compose.yml