@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #40444b;
}

::-webkit-scrollbar-thumb {
  background: #72767d;
}

::-webkit-scrollbar {
  display: #2f313;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.rotate {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.rotate:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

/* Underline Text Effect */

.text-underline {
  display: inline-block;
  position: relative;
  color: #ffffff;
}
.text-underline:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.text-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.text-underline:hover {
  cursor: pointer;
}
