
#################################################################################################
#### MAKE A NEW FILE named `.env.local` for development, or `.env.production` for production ####
#################################################################################################


# Specify whether the app is in production or development mode
# This setting will deploy commands globally
# and will catch all runtime errors without crashing
NODE_ENV='development'


#################################
###  REQUIRED CONFIGURATIONS  ###
#################################

# Enter the bot token 
DISCORD_BOT_TOKEN=""

# The application client ID (also the user ID of the bot)
DISCORD_CLIENT_ID=""

# The client secret
DISCORD_CLIENT_SECRET=""

# Authentication parameters
NEXTAUTH_SECRET=""
NEXTAUTH_URL=""


# DATABASE OPTIONS
DB_URL=""

# Syncing Options -> nothing, sync, drop
DB_OPTION="nothing"

#Invite bot!
INVITE_BOT_URL=""

# The bot's public discord server invite link
SUPPORT_GUILD_INVITE_URL=""


#################################
###  OPTIONAL CONFIGURATIONS  ###
#################################

# Website Information
WEBSITE_BASE_URL=
COMMANDS_URL=$WEBSITE_BASE_URL/
DOCS_URL=$WEBSITE_BASE_URL/

VOTE_URL=
